name: Examples

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"

      - name: Install prepare msys
        if: ${{ matrix.os }} == "windows-latest"
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          install: git base-devel mingw-w64-x86_64-toolchain
          update: true
        
      - name: Install linux dependencies
        if: ${{ matrix.os }} == "ubuntu-latest"
        run: |
          apt-get install wget bzip2 git make tar flex bison diffutils texinfo gcc g++ libstdc++-8-dev
        shell: bash

      - name: Build toolchain
        run: |
          bash buildtoolchain.sh
