name: Examples

on: [push, pull_request]

jobs:
  buildlinux:
    strategy:
      fail-fast: false
      matrix:
        architecture: [avr, arm-none-eabi, m68k-elf]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"        
      - name: Install dependencies
        run: |
          sudo apt-get install wget bzip2 unzip git make tar flex bison diffutils texinfo gcc g++ libstdc++-8-dev
        shell: bash
      - name: Build toolchain
        run: |
          bash buildtoolchain.sh linux  ${{ matrix.architecture }}
      - name: Build example with toolchain
        run: |
          bash runtests.sh  ${{ matrix.architecture }}
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v2
        with:
          path: toolchain-${{ matrix.architecture }}-linux-gcc-10.2.0.tar.gz
          retention-days: 5    
  buildwindows:
    strategy:
      fail-fast: false
      matrix:
        architecture: [avr, arm-none-eabi, m68k-elf]
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: Install prepare msys
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          install: git mingw-w64-x86_64-toolchain make wget bzip2 tar flex bison unzip diffutils texinfo autoconf patch
          update: true
      - name: Build toolchain
        run: |
          bash buildtoolchain.sh windows  ${{ matrix.architecture }}
      - name: Build examples with toolchain
        run: |
          bash runtests.sh  ${{ matrix.architecture }}
      - name: Build platformio examples with toolchain
        run: |
          bash runtests_pio.sh  ${{ matrix.architecture }}
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v2
        with:
          path: toolchain-${{ matrix.architecture }}-windows-gcc-10.2.0.tar.gz
          retention-days: 5
